$icomoon-font-family: "oceano" !default;
$icomoon-font-path: "./../fonts" !default;

$icon-check: "\eb15";
$icon-arr-left-slide: "\e90f";
$icon-arr-right-slide: "\e910";
$icon-clock: "\eb0f";
$icon-close: "\eb10";
$icon-amir: "\eb11";
$icon-down: "\eb12";
$icon-up: "\eb13";
$icon-checked: "\eb14";
$icon-logo-color-path1: "\e906";
$icon-logo-color-path2: "\e907";
$icon-logo-color-path3: "\e909";
$icon-logo-color-path4: "\e90a";
$icon-logo-color-path5: "\e90b";
$icon-logo-color-path6: "\e90c";
$icon-logo-color-path7: "\e90d";
$icon-logo: "\e90e";
$icon-assistant: "\e900";
$icon-academic: "\e901";
$icon-time: "\e902";
$icon-devices: "\e903";
$icon-idea: "\e904";
$icon-update: "\e905";
$icon-arrow-down: "\e908";
$icon-arrow-up: "\e911";
$icon-ar-path1: "\e912";
$icon-ar-path2: "\e913";
$icon-ar-path3: "\e914";
$icon-ar-path4: "\e915";
$icon-ar-path5: "\e916";
$icon-bo-path1: "\e917";
$icon-bo-path2: "\e918";
$icon-bo-path3: "\e919";
$icon-bo-path4: "\e91a";
$icon-bo-path5: "\e91b";
$icon-bo-path6: "\e91c";
$icon-bo-path7: "\e91d";
$icon-bo-path8: "\e91e";
$icon-bo-path9: "\e91f";
$icon-bo-path10: "\e920";
$icon-bo-path11: "\e921";
$icon-bo-path12: "\e922";
$icon-bo-path13: "\e923";
$icon-bo-path14: "\e924";
$icon-bo-path15: "\e925";
$icon-bo-path16: "\e926";
$icon-bo-path17: "\e927";
$icon-bo-path18: "\e928";
$icon-bo-path19: "\e929";
$icon-bo-path20: "\e92a";
$icon-bo-path21: "\e92b";
$icon-bo-path22: "\e92c";
$icon-bo-path23: "\e92d";
$icon-bo-path24: "\e92e";
$icon-bo-path25: "\e92f";
$icon-bo-path26: "\e930";
$icon-bo-path27: "\e931";
$icon-bo-path28: "\e932";
$icon-bo-path29: "\e933";
$icon-bo-path30: "\e934";
$icon-bo-path31: "\e935";
$icon-bo-path32: "\e936";
$icon-bo-path33: "\e937";
$icon-bo-path34: "\e938";
$icon-bo-path35: "\e939";
$icon-bo-path36: "\e93a";
$icon-bo-path37: "\e93b";
$icon-bo-path38: "\e93c";
$icon-bo-path39: "\e93d";
$icon-bo-path40: "\e93e";
$icon-bo-path41: "\e93f";
$icon-bo-path42: "\e940";
$icon-bo-path43: "\e941";
$icon-bo-path44: "\e942";
$icon-bo-path45: "\e943";
$icon-bo-path46: "\e944";
$icon-bo-path47: "\e945";
$icon-bo-path48: "\e946";
$icon-bo-path49: "\e947";
$icon-bo-path50: "\e948";
$icon-bo-path51: "\e949";
$icon-bo-path52: "\e94a";
$icon-bo-path53: "\e94b";
$icon-bo-path54: "\e94c";
$icon-bo-path55: "\e94d";
$icon-bo-path56: "\e94e";
$icon-bo-path57: "\e94f";
$icon-bo-path58: "\e950";
$icon-bo-path59: "\e951";
$icon-ch-path1: "\e952";
$icon-ch-path2: "\e953";
$icon-ch-path3: "\e954";
$icon-ch-path4: "\e955";
$icon-col-path1: "\e956";
$icon-col-path2: "\e957";
$icon-col-path3: "\e958";
$icon-cos-path1: "\e959";
$icon-cos-path2: "\e95a";
$icon-cos-path3: "\e95b";
$icon-cos-path4: "\e95c";
$icon-cos-path5: "\e95d";
$icon-cos-path6: "\e95e";
$icon-cos-path7: "\e95f";
$icon-cos-path8: "\e960";
$icon-cos-path9: "\e961";
$icon-cos-path10: "\e962";
$icon-cos-path11: "\e963";
$icon-cos-path12: "\e964";
$icon-cos-path13: "\e965";
$icon-cos-path14: "\e966";
$icon-cos-path15: "\e967";
$icon-cos-path16: "\e968";
$icon-cos-path17: "\e969";
$icon-cos-path18: "\e96a";
$icon-cos-path19: "\e96b";
$icon-cos-path20: "\e96c";
$icon-cos-path21: "\e96d";
$icon-cos-path22: "\e96e";
$icon-cos-path23: "\e96f";
$icon-cos-path24: "\e970";
$icon-cos-path25: "\e971";
$icon-cos-path26: "\e972";
$icon-cos-path27: "\e973";
$icon-cos-path28: "\e974";
$icon-cos-path29: "\e975";
$icon-cos-path30: "\e976";
$icon-cos-path31: "\e977";
$icon-cos-path32: "\e978";
$icon-cos-path33: "\e979";
$icon-cos-path34: "\e97a";
$icon-cos-path35: "\e97b";
$icon-cos-path36: "\e97c";
$icon-cos-path37: "\e97d";
$icon-cos-path38: "\e97e";
$icon-cos-path39: "\e97f";
$icon-cos-path40: "\e980";
$icon-cos-path41: "\e981";
$icon-cos-path42: "\e982";
$icon-cos-path43: "\e983";
$icon-cos-path44: "\e984";
$icon-cos-path45: "\e985";
$icon-cos-path46: "\e986";
$icon-cos-path47: "\e987";
$icon-cos-path48: "\e988";
$icon-cos-path49: "\e989";
$icon-cos-path50: "\e98a";
$icon-cos-path51: "\e98b";
$icon-cos-path52: "\e98c";
$icon-cos-path53: "\e98d";
$icon-cos-path54: "\e98e";
$icon-cos-path55: "\e98f";
$icon-cos-path56: "\e990";
$icon-cos-path57: "\e991";
$icon-cos-path58: "\e992";
$icon-cos-path59: "\e993";
$icon-cos-path60: "\e994";
$icon-cos-path61: "\e995";
$icon-dom-path1: "\e996";
$icon-dom-path2: "\e997";
$icon-dom-path3: "\e998";
$icon-dom-path4: "\e999";
$icon-dom-path5: "\e99a";
$icon-dom-path6: "\e99b";
$icon-dom-path7: "\e99c";
$icon-dom-path8: "\e99d";
$icon-dom-path9: "\e99e";
$icon-dom-path10: "\e99f";
$icon-dom-path11: "\e9a0";
$icon-dom-path12: "\e9a1";
$icon-dom-path13: "\e9a2";
$icon-dom-path14: "\e9a3";
$icon-dom-path15: "\e9a4";
$icon-dom-path16: "\e9a5";
$icon-dom-path17: "\e9a6";
$icon-dom-path18: "\e9a7";
$icon-dom-path19: "\e9a8";
$icon-dom-path20: "\e9a9";
$icon-dom-path21: "\e9aa";
$icon-dom-path22: "\e9ab";
$icon-dom-path23: "\e9ac";
$icon-dom-path24: "\e9ad";
$icon-dom-path25: "\e9ae";
$icon-dom-path26: "\e9af";
$icon-dom-path27: "\e9b0";
$icon-dom-path28: "\e9b1";
$icon-dom-path29: "\e9b2";
$icon-dom-path30: "\e9b3";
$icon-dom-path31: "\e9b4";
$icon-dom-path32: "\e9b5";
$icon-dom-path33: "\e9b6";
$icon-dom-path34: "\e9b7";
$icon-dom-path35: "\e9b8";
$icon-dom-path36: "\e9b9";
$icon-dom-path37: "\e9ba";
$icon-dom-path38: "\e9bb";
$icon-dom-path39: "\e9bc";
$icon-dom-path40: "\e9bd";
$icon-dom-path41: "\e9be";
$icon-dom-path42: "\e9bf";
$icon-dom-path43: "\e9c0";
$icon-dom-path44: "\e9c1";
$icon-dom-path45: "\e9c2";
$icon-dom-path46: "\e9c3";
$icon-dom-path47: "\e9c4";
$icon-dom-path48: "\e9c5";
$icon-dom-path49: "\e9c6";
$icon-dom-path50: "\e9c7";
$icon-dom-path51: "\e9c8";
$icon-dom-path52: "\e9c9";
$icon-dom-path53: "\e9ca";
$icon-dom-path54: "\e9cb";
$icon-dom-path55: "\e9cc";
$icon-ec-path1: "\e9cd";
$icon-ec-path2: "\e9ce";
$icon-ec-path3: "\e9cf";
$icon-ec-path4: "\e9d0";
$icon-ec-path5: "\e9d1";
$icon-ec-path6: "\e9d2";
$icon-ec-path7: "\e9d3";
$icon-ec-path8: "\e9d4";
$icon-ec-path9: "\e9d5";
$icon-ec-path10: "\e9d6";
$icon-ec-path11: "\e9d7";
$icon-ec-path12: "\e9d8";
$icon-ec-path13: "\e9d9";
$icon-ec-path14: "\e9da";
$icon-ec-path15: "\e9db";
$icon-ec-path16: "\e9dc";
$icon-ec-path17: "\e9dd";
$icon-ec-path18: "\e9de";
$icon-ec-path19: "\e9df";
$icon-ec-path20: "\e9e0";
$icon-ec-path21: "\e9e1";
$icon-ec-path22: "\e9e2";
$icon-ec-path23: "\e9e3";
$icon-ec-path24: "\e9e4";
$icon-ec-path25: "\e9e5";
$icon-ec-path26: "\e9e6";
$icon-ec-path27: "\e9e7";
$icon-ec-path28: "\e9e8";
$icon-ec-path29: "\e9e9";
$icon-ec-path30: "\e9ea";
$icon-ec-path31: "\e9eb";
$icon-ec-path32: "\e9ec";
$icon-ec-path33: "\e9ed";
$icon-ec-path34: "\e9ee";
$icon-ec-path35: "\e9ef";
$icon-ec-path36: "\e9f0";
$icon-ec-path37: "\e9f1";
$icon-ec-path38: "\e9f2";
$icon-ec-path39: "\e9f3";
$icon-ec-path40: "\e9f4";
$icon-ec-path41: "\e9f5";
$icon-ec-path42: "\e9f6";
$icon-ec-path43: "\e9f7";
$icon-sal-path1: "\e9f8";
$icon-sal-path2: "\e9f9";
$icon-sal-path3: "\e9fa";
$icon-sal-path4: "\e9fb";
$icon-sal-path5: "\e9fc";
$icon-sal-path6: "\e9fd";
$icon-sal-path7: "\e9fe";
$icon-sal-path8: "\e9ff";
$icon-sal-path9: "\ea00";
$icon-sal-path10: "\ea01";
$icon-sal-path11: "\ea02";
$icon-sal-path12: "\ea03";
$icon-sal-path13: "\ea04";
$icon-sal-path14: "\ea05";
$icon-sal-path15: "\ea06";
$icon-sal-path16: "\ea07";
$icon-sal-path17: "\ea08";
$icon-sal-path18: "\ea09";
$icon-sal-path19: "\ea0a";
$icon-sal-path20: "\ea0b";
$icon-sal-path21: "\ea0c";
$icon-sal-path22: "\ea0d";
$icon-sal-path23: "\ea0e";
$icon-sal-path24: "\ea0f";
$icon-sal-path25: "\ea10";
$icon-sal-path26: "\ea11";
$icon-sal-path27: "\ea12";
$icon-sal-path28: "\ea13";
$icon-sal-path29: "\ea14";
$icon-sal-path30: "\ea15";
$icon-sal-path31: "\ea16";
$icon-sal-path32: "\ea17";
$icon-sal-path33: "\ea18";
$icon-sal-path34: "\ea19";
$icon-sal-path35: "\ea1a";
$icon-sal-path36: "\ea1b";
$icon-sal-path37: "\ea1c";
$icon-sal-path38: "\ea1d";
$icon-sal-path39: "\ea1e";
$icon-sal-path40: "\ea1f";
$icon-sal-path41: "\ea20";
$icon-sal-path42: "\ea21";
$icon-sal-path43: "\ea22";
$icon-sal-path44: "\ea23";
$icon-sal-path45: "\ea24";
$icon-sal-path46: "\ea25";
$icon-sal-path47: "\ea26";
$icon-sal-path48: "\ea27";
$icon-sal-path49: "\ea28";
$icon-sal-path50: "\ea29";
$icon-sal-path51: "\ea2a";
$icon-sal-path52: "\ea2b";
$icon-sal-path53: "\ea2c";
$icon-sal-path54: "\ea2d";
$icon-sal-path55: "\ea2e";
$icon-sal-path56: "\ea2f";
$icon-sal-path57: "\ea30";
$icon-sal-path58: "\ea31";
$icon-sal-path59: "\ea32";
$icon-sal-path60: "\ea33";
$icon-sal-path61: "\ea34";
$icon-sal-path62: "\ea35";
$icon-sal-path63: "\ea36";
$icon-sal-path64: "\ea37";
$icon-sal-path65: "\ea38";
$icon-sal-path66: "\ea39";
$icon-sal-path67: "\ea3a";
$icon-sal-path68: "\ea3b";
$icon-sal-path69: "\ea3c";
$icon-gua-path1: "\ea3d";
$icon-gua-path2: "\ea3e";
$icon-gua-path3: "\ea3f";
$icon-gua-path4: "\ea40";
$icon-gua-path5: "\ea41";
$icon-gua-path6: "\ea42";
$icon-gua-path7: "\ea43";
$icon-gua-path8: "\ea44";
$icon-gua-path9: "\ea45";
$icon-gua-path10: "\ea46";
$icon-gua-path11: "\ea47";
$icon-gua-path12: "\ea48";
$icon-gua-path13: "\ea49";
$icon-gua-path14: "\ea4a";
$icon-gua-path15: "\ea4b";
$icon-gua-path16: "\ea4c";
$icon-gua-path17: "\ea4d";
$icon-gua-path18: "\ea4e";
$icon-gua-path19: "\ea4f";
$icon-gua-path20: "\ea50";
$icon-gua-path21: "\ea51";
$icon-gua-path22: "\ea52";
$icon-gua-path23: "\ea53";
$icon-gua-path24: "\ea54";
$icon-gua-path25: "\ea55";
$icon-gua-path26: "\ea56";
$icon-gua-path27: "\ea57";
$icon-gua-path28: "\ea58";
$icon-gua-path29: "\ea59";
$icon-gua-path30: "\ea5a";
$icon-gua-path31: "\ea5b";
$icon-gua-path32: "\ea5c";
$icon-gua-path33: "\ea5d";
$icon-gua-path34: "\ea5e";
$icon-gua-path35: "\ea5f";
$icon-gua-path36: "\ea60";
$icon-gua-path37: "\ea61";
$icon-gua-path38: "\ea62";
$icon-gua-path39: "\ea63";
$icon-gua-path40: "\ea64";
$icon-gua-path41: "\ea65";
$icon-gua-path42: "\ea66";
$icon-gua-path43: "\ea67";
$icon-gua-path44: "\ea68";
$icon-gua-path45: "\ea69";
$icon-gua-path46: "\ea6a";
$icon-gua-path47: "\ea6b";
$icon-gua-path48: "\ea6c";
$icon-gua-path49: "\ea6d";
$icon-gua-path50: "\ea6e";
$icon-gua-path51: "\ea6f";
$icon-gua-path52: "\ea70";
$icon-gua-path53: "\ea71";
$icon-gua-path54: "\ea72";
$icon-gua-path55: "\ea73";
$icon-gua-path56: "\ea74";
$icon-gua-path57: "\ea75";
$icon-gua-path58: "\ea76";
$icon-gua-path59: "\ea77";
$icon-gua-path60: "\ea78";
$icon-gua-path61: "\ea79";
$icon-gua-path62: "\ea7a";
$icon-gua-path63: "\ea7b";
$icon-gua-path64: "\ea7c";
$icon-gua-path65: "\ea7d";
$icon-gua-path66: "\ea7e";
$icon-gua-path67: "\ea7f";
$icon-gua-path68: "\ea80";
$icon-gua-path69: "\ea81";
$icon-hon-path1: "\ea82";
$icon-hon-path2: "\ea83";
$icon-hon-path3: "\ea84";
$icon-hon-path4: "\ea85";
$icon-hon-path5: "\ea86";
$icon-hon-path6: "\ea87";
$icon-hon-path7: "\ea88";
$icon-hon-path8: "\ea89";
$icon-mex-path1: "\ea8a";
$icon-mex-path2: "\ea8b";
$icon-mex-path3: "\ea8c";
$icon-mex-path4: "\ea8d";
$icon-mex-path5: "\ea8e";
$icon-mex-path6: "\ea8f";
$icon-mex-path7: "\ea90";
$icon-mex-path8: "\ea91";
$icon-mex-path9: "\ea92";
$icon-mex-path10: "\ea93";
$icon-mex-path11: "\ea94";
$icon-mex-path12: "\ea95";
$icon-mex-path13: "\ea96";
$icon-mex-path14: "\ea97";
$icon-mex-path15: "\ea98";
$icon-mex-path16: "\ea99";
$icon-mex-path17: "\ea9a";
$icon-mex-path18: "\ea9b";
$icon-mex-path19: "\ea9c";
$icon-mex-path20: "\ea9d";
$icon-mex-path21: "\ea9e";
$icon-mex-path22: "\ea9f";
$icon-nic-path1: "\eaa0";
$icon-nic-path2: "\eaa1";
$icon-nic-path3: "\eaa2";
$icon-nic-path4: "\eaa3";
$icon-nic-path5: "\eaa4";
$icon-nic-path6: "\eaa5";
$icon-nic-path7: "\eaa6";
$icon-nic-path8: "\eaa7";
$icon-nic-path9: "\eaa8";
$icon-nic-path10: "\eaa9";
$icon-nic-path11: "\eaaa";
$icon-nic-path12: "\eaab";
$icon-nic-path13: "\eaac";
$icon-nic-path14: "\eaad";
$icon-nic-path15: "\eaae";
$icon-nic-path16: "\eaaf";
$icon-nic-path17: "\eab0";
$icon-nic-path18: "\eab1";
$icon-nic-path19: "\eab2";
$icon-nic-path20: "\eab3";
$icon-nic-path21: "\eab4";
$icon-nic-path22: "\eab5";
$icon-nic-path23: "\eab6";
$icon-nic-path24: "\eab7";
$icon-nic-path25: "\eab8";
$icon-nic-path26: "\eab9";
$icon-nic-path27: "\eaba";
$icon-nic-path28: "\eabb";
$icon-nic-path29: "\eabc";
$icon-nic-path30: "\eabd";
$icon-nic-path31: "\eabe";
$icon-nic-path32: "\eabf";
$icon-nic-path33: "\eac0";
$icon-nic-path34: "\eac1";
$icon-nic-path35: "\eac2";
$icon-nic-path36: "\eac3";
$icon-nic-path37: "\eac4";
$icon-nic-path38: "\eac5";
$icon-nic-path39: "\eac6";
$icon-nic-path40: "\eac7";
$icon-pan-path1: "\eac8";
$icon-pan-path2: "\eac9";
$icon-pan-path3: "\eaca";
$icon-pan-path4: "\eacb";
$icon-pan-path5: "\eacc";
$icon-pa-path1: "\eacd";
$icon-pa-path2: "\eace";
$icon-pa-path3: "\eacf";
$icon-pa-path4: "\ead0";
$icon-pa-path5: "\ead1";
$icon-pa-path6: "\ead2";
$icon-pa-path7: "\ead3";
$icon-pe-path1: "\ead4";
$icon-pe-path2: "\ead5";
$icon-pe-path3: "\ead6";
$icon-ur-path1: "\ead7";
$icon-ur-path2: "\ead8";
$icon-ur-path3: "\ead9";
$icon-ur-path4: "\eada";
$icon-ur-path5: "\eadb";
$icon-ur-path6: "\eadc";
$icon-ur-path7: "\eadd";
$icon-ur-path8: "\eade";
$icon-ur-path9: "\eadf";
$icon-ur-path10: "\eae0";
$icon-ur-path11: "\eae1";
$icon-ur-path12: "\eae2";
$icon-ur-path13: "\eae3";
$icon-ur-path14: "\eae4";
$icon-ur-path15: "\eae5";
$icon-ur-path16: "\eae6";
$icon-ur-path17: "\eae7";
$icon-ur-path18: "\eae8";
$icon-ur-path19: "\eae9";
$icon-ur-path20: "\eaea";
$icon-ur-path21: "\eaeb";
$icon-ur-path22: "\eaec";
$icon-ur-path23: "\eaed";
$icon-ur-path24: "\eaee";
$icon-ur-path25: "\eaef";
$icon-ur-path26: "\eaf0";
$icon-ur-path27: "\eaf1";
$icon-ur-path28: "\eaf2";
$icon-ur-path29: "\eaf3";
$icon-ur-path30: "\eaf4";
$icon-ur-path31: "\eaf5";
$icon-ur-path32: "\eaf6";
$icon-ur-path33: "\eaf7";
$icon-ur-path34: "\eaf8";
$icon-ur-path35: "\eaf9";
$icon-ur-path36: "\eafa";
$icon-ur-path37: "\eafb";
$icon-ur-path38: "\eafc";
$icon-ur-path39: "\eafd";
$icon-ur-path40: "\eafe";
$icon-ur-path41: "\eaff";
$icon-ur-path42: "\eb00";
$icon-ur-path43: "\eb01";
$icon-ven-path1: "\eb02";
$icon-ven-path2: "\eb03";
$icon-ven-path3: "\eb04";
$icon-ven-path4: "\eb05";
$icon-ven-path5: "\eb06";
$icon-ven-path6: "\eb07";
$icon-ven-path7: "\eb08";
$icon-ven-path8: "\eb09";
$icon-ven-path9: "\eb0a";
$icon-ven-path10: "\eb0b";
$icon-ven-path11: "\eb0c";
$icon-ven-path12: "\eb0d";
$icon-ven-path13: "\eb0e";