header.headerCheckout {
  position: relative;
  background-color: $COLOR_BLUE;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 0;
  z-index: 0;

  @include upTo(sm) {
    padding: 96.5px 0;
  }


  a {
    max-width: 147px;
    width: 100%;
    text-decoration: none;
    outline: none;

    @include upTo(sm) {
      max-width: 187px;
    }

    &:visited,
    &:focus {
      border: 0;
      text-decoration: none;
      outline: none;
    }
    i {
      font-size: 7em;

      @include upTo(sm) {
        font-size: 9em;
      }
    }
  }
}