// FORM
$INPUT_MARGINS : 20px;
$CHECKBOX_SIZE: 20px;
$INPUT_HEIGHT_DESKTOP: 50px;
$INPUT_HEIGHT_MOBILE: 55px;
$SELECT_ARROW: 12px;

$INPUT_PADDING_TOP_BOTTOM : 11px;
$INPUT_PADDING_LEFT_RIGHT : 0;
$INPUT_PADDING : $INPUT_PADDING_TOP_BOTTOM $INPUT_PADDING_LEFT_RIGHT;

$INPUT_PADDING_TOP_BOTTOM_MOBILE : 11px;
$INPUT_PADDING_LEFT_RIGHT_MOBILE : 0;
$INPUT_PADDING_MOBILE : $INPUT_PADDING_TOP_BOTTOM_MOBILE $INPUT_PADDING_LEFT_RIGHT_MOBILE;

$INPUT_BORDER_RADIUS : 1px;
$INPUT_FONT_SIZE : 20px;
$INPUT_FONT_SIZE_MOBILE : 18px;
$INPUT_FONT_SIZE_PLACEHOLDER : $INPUT_FONT_SIZE;
$INPUT_FONT_SIZE_PLACEHOLDER_MOBILE : $INPUT_FONT_SIZE_MOBILE;
$INPUT_FONT_COLOR: $COLOR_DARKGREY;

$INPUT_BORDER : none;
$INPUT_BORDER_BOTTOM : 1px solid $COLOR_CELESTE;

$COLOR_LABEL: $COLOR_GREY;
$LABEL_FONT_SIZE : 18px;
$LABEL_FONT_SIZE_MOBILE : 16px;
$LABEL_FONT_WEIGHT : $REGULAR;

$COLOR_INPUT: #323c47;
$COLOR_INVALID_FORM: $COLOR_ROJO;
$COLOR_VALID_FORM: $COLOR_VERDE;
$COLOR_BORDER: #dbdbdb;
// $COLOR_BUTTON_LINK : $COLOR_AZUL;
$COLOR_BG_INPUTS : transparent;
$COLOR_PLACEHOLDER : $COLOR_GREY;
$COLOR_OPTION : rgba(#C4C4C4, .3);

// BUTTON
$BUTTON_FONT_SIZE : 16px;
$BUTTON_FONT_SIZE_MOBILE : 14px;
$BUTTON_HEIGHT : 50px;
$BUTTTON_WIDTH: 134px;
$BUTTTON_BORDER_RADIUS: 2px;

// COL
$COL_MARGIN_BOTTOM_MOBILE : 30px;